<h1>Add a new TeeTime</h1>
<form>
    <!-- Golfer name text input -->
    <fieldset class="form-group">
        <label for="name" class="control-label col-2">Golfer Name: </label>
        <input class="form-control" name="name" id="name" required/>
    </fieldset>

    <!-- Holes dropdown -->
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Holes
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">9</a>
            <a class="dropdown-item" href="#">18</a>
        </div>
    </div>

    <!-- Cart dropdown -->
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cart Required
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Yes</a>
            <a class="dropdown-item" href="#">No</a>
        </div>
    </div>


    <!-- Date -->
    <fieldset class="form-group">
        <label for="date" class="control-label col-2">Date of game: </label>
        <input class="form-control" name="date" id="date"/>
    </fieldset>

    <!-- Save button -->
    <div class="offset-2">
        <button class="btn btn-primary">Save</button>
    </div>
</form>